<article.class="post">
<section class="post-head">
	<h1><%= @post.title %></h1>
	<small>
		<time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
		
        <% if user_signed_in? %>
		|
		<%= link_to t('posts.edit'), edit_post_path(@post) %>
		|
       <%= link_to t('posts.destroy'), @post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
		  
  </small>
		
 </section>
  <section class="post-body">
  	   <p>Автор <b><%= @post.user.name %></b></p>
    	  <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
       <%= @post.adres %>
    <br><%= @post.body %><br />
    <br><%= raw @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag tag-primary'}.join('') %><br />
  <hr>
  <h2><%= t('comment.all') %></h2>
  <% @post.comments.each do |comment| %>
    <div class="alert alert-light">
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
    </div>
    <% end %>
    <hr>
   <h2><%= t('comment.comment') %></h2>
   <%= form_for([@post, @post.comments.build]) do |f| %>
  	<p>
  		<%= t('comment.user') %><br>
  		<%= f.text_field(:username, {:class => 'form-comtrol'}) %>
  	</p>
  	<p>
  	 <%= t('comment.tcomment') %><br>
  	 <%= f.text_area(:body, {:class => 'form-comtrol'}) %>
  	</p>
  	<p>
  		<%= f.submit t('posts.db'), class: 'btn btn-outline-primary' %>
  	</p>
  	<% end%>

 </section>
</article>
